/* Infocards.css */

.info-card {
  background: var(--generic-info-card-background-color);
  border-radius: 10px; /* for rounded corners */
  padding: 20px;
  width: 240px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 2px solid var(--generic-info-card-border-color); /* Add pale blue border color */
  margin-bottom: 1rem;
}

.info-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.info-card h2 {
  margin: 10px 0;
}

.info-card ul {
  /* list-style: none;  */
  padding: 0.5rem 1rem;
  text-align: left;
}

.info-card li {
  margin-bottom: 5px;
}

.info-card li strong {
  font-weight: bold;
}

.info-card li p {
  font-size: 0.8em;
  margin: 0.1rem 0;
}

@media (max-width: 768px) {
  .info-cards-container {
    flex-direction: column;
    align-items: center;
  }

  .info-card {
    margin-bottom: 20px;
  }
}
